﻿
@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}


@model IEnumerable<FricFrac.Models.FricFrac.Event>



<nav class="control-panel">
    <a href="/Home/Index" class="tile">
        <i class="fas fa-bars"></i>
        <span class="screen-reader-text">Home</span>
    </a>
    <h1 class="banner">Fric-frac</h1>

</nav>

<form class="show-room entity" action="/Event/Index" method="post">

    <div class="detail">
        <div class="command-panel">
            <h2 class="banner">Event</h2>
            <a href="/Event/InsertingOne" class="tile">
                <i class="fas fa-plus-circle"></i>
                <span class="screen-reader-text">Insert One</span>
            </a>

        </div>
        <fieldset>
        </fieldset>
        <div class="feedback">
        </div>
    </div>
    <aside class="list">
        <br /> <br />
        <table>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                       
                        <td>
                            <a href="/Event/ReadingOne/@item.Id" class="reading">
                                @item.Name
                                @item.Id 
                                </a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </aside>

</form>