﻿@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
    <nav class="control-panel">
        <a href="/Home/Index" class="tile">
            <i class="fas fa-bars"></i>
            <span class="screen-reader-text">Home</span>
        </a>
        <h1 class="banner">Fric-frac</h1>
    </nav>
<form class="show-room entity" action="/Event/InsertOne" method="post">
    <div class="detail">
        <div class="command-panel">
            <h2 class="banner">Events</h2>

          
            
            <button type="submit" value="/Event/InsertOne" class="tile">
                <h3>Insert One</h3>
            </button>
            <a href="/Event/Index" class="tile">
                <i class="fas fa-backspace"></i>
                <i class="screen-reader-text">Anuuleren</i>
            </a>
        </div>
        <fieldset>
            <div>
                <label for="Event-Id">Id:</label>
                <input id="Event-Id" name="Event-Id" type="number" value="" required />

            </div>

            <div>
                <label for="Event-Name">Name:</label>
                <input id="Event-Name" name="Event-Name" type="text" value=""  required />
            </div>
            <div>
                <label for="Event-Location">Location:</label>
                <input id="Event-Location" name="Event-Location" type="text" value=""  required/>
            </div>
            <div>
                <label for="Event-Starts">Starts:</label>
                <input id="Event-Starts" name="Event-Starts" type="date" value=""  required/>
            </div>
            <div>
                <label for="Event-Ends">Ends:</label>
                <input id="Event-Ends" name="Event-Ends" type="date" value=""  required/>
            </div>
            <div>
                <label for="Event-Image">Image:</label>
                <input id="Event-Image" name="Event-Image" type="text" value=""  required/>
            </div>
            <div>
                <label for="Event-Description">Description:</label>
                <input id="Event-Description" name="Event-Description" type="text" value=""  required/>
            </div>

            <div>
                <label for="Event-OrganiserName">OrganiserName:</label>
                <input id="Event-OrganiserName" name="Event-OrganiserName" type="text" value=""  required/>
            </div>
            <div>
                <label for="Event-OrganiserDescription">OrganiserDescription:</label>
                <input id="Event-OrganiserDescription" name="Event-OrganiserDescription" type="text" value="" required />
            </div>


            <div>
                <label for="Event-EventTopicId"> EventTopic Id:</label>
                <select id="Event-EventTopicId" name="Event-EventTopicId"  required >
                    @foreach (var item in ViewBag.EventTopics)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>

            <div>
                <label for="Event-EventCategoryId"> EventCategoryId Id:</label>
                <select id="Event-EventCategoryId" name="Event-EventCategoryId"  required>
                    @foreach (var item in ViewBag.EventCategorys)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>

        </fieldset>
        <div class="feedback"></div>
    </div>
    <aside class="list">
        <table></table>
    </aside>
</form>