﻿

@model FricFrac.Models.FricFrac.Event


@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
    <div class="control-panel">
        <a href="/Home/Index" class="tile">
            <i class="fas fa-bars"></i>
            <span class="screen-reader-text">Home</span>
        </a>
        <h1>Fric-frac</h1>
    </div>



<form class="show-room entity" action="/Event/Index" method="post">
    <div class="detail">
        <div class="command-panel">
            <h2 class="banner">Event</h2>
            <a href="/Event/UpdatingOne/@Model.Id" class="tile">
                <i class="fas fa-wrench"></i>
                <i class="screen-reader-text">Updating One</i>
            </a>
            <a href="/Event/InsertingOne" class="tile">
                <i class="fas fa-plus-circle"></i>
                <i class="screen-reader-text">Inserting One</i>
            </a>
            <a href="/Event/DeleteOne/@Model.Id" class="tile">
                <i class="fas fa-trash-alt"></i>
                <i class="screen-reader-text">Delete One</i>
            </a>
            <a href="/Event/Cancel" class="tile">
                <i class="fas fa-backspace"></i>
                <span class="screen-reader-text">Annuleren</span>
            </a>
        </div>
        <fieldset>
            <div>
                <label for="Event-Id">Id:</label>
                <span>@Model.Id</span>
            </div>

            <div>
                <label for="Event-Name">Name:</label>
                <span>@Model.Name</span>
            </div>
            <div>
                <label for="Event-Location">Location:</label>
                <span>@Model.Location</span>
            </div>
            <div>
                <label for="Event-Starts">Starts:</label>
                <span>@Model.Starts</span>
            </div>
            <div>
                <label for="Event-Ends">Ends:</label>
                <span>@Model.Ends</span>
            </div> 
            <div>
                       <label for="Event-Image">Image:</label>
                <span>@Model.Image</span>
            </div>
            <div>
                <label for="Event-Description">Description:</label>
                <span>@Model.Description</span>
            </div>

            <div>
                <label for="Event-OrganiserName">OrganiserName:</label>
                <span>@Model.OrganiserName</span>
            </div>
            <div>
                <label for="Event-OrganiserDescription">OrganiserDescription:</label>
                <span>@Model.OrganiserDescription</span>
            </div>


            <div>
                <label for="Event-EventTopic.Id"> EventTopic Id:</label>
                <span>@Model.EventTopicId</span>
            </div>
            <div>
                <label for="Event-EventCategoryId">EventCategory Id:</label>
                <span>@Model.EventCategoryId</span>
            </div>

        </fieldset>
        <div class="feedback"></div>
    </div>
    <aside class="list">
        <table></table>
    </aside>
</form>