*{
  padding:0;
  margin: 0;
}






.index {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  width: 100%;
  height: 100%;
}


/*
List component

*/
.grid { 
  display: grid;
  
  grid-template-columns: repeat(auto-fill, minmax(60%, 1fr));
  grid-gap: 10px;
  align-items: stretch;

  }
.grid img {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  max-width: 100%;
}
div.gallery {
  border: 1px solid #ccc;
  width: 94%;
  height: 200px;
  position:relative;

}

div.gallery:hover {
  border: 1px solid #777;

}
.ImageButton{
  height: 200px;
width: 95%;
}
div.gallery img {
height: 200px;
width: 95%;
}
div.desc {
  padding: 15px;
  text-align: center;
  color: white;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
   background-color: whitesmoke;
}


 
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/*
eind List component

*/
#mapid {
 
  width: 600px;
  height: 400px;
  padding: 5px;
  margin-left: 50%;
  
  }
 .bigImg{
      width: 41%;
      height: 41.5%;
      padding: 5px;
      position: absolute;
      margin-left: 50px;
 }
  #idimg{
    display: inline;
    position: relative;
      width: 100%;
      height: 100%;
      padding: 5px;
  }
 




.header {

  text-align: center  ;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  min-height: 75px;
  padding: 0 1em 0 1em;
  background-color: #328ba8 ;
  color: rgb(250, 240, 230);
  /* linnen */
}


footer {
  text-align: center  ;
  clear: both;
  position: relative;

width: 100%;
height: 4rem;
  min-height: 10%;
  color: rgb(250, 240, 230);
  margin-top: -50px;
  background-color: rgb(65, 74, 76);
 
 
}


table {font-family: arial, sans-serif;
border-collapse: collapse;
width:80%;
}

td, th {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}

tr:nth-child(even) {
background-color: #dddddd;
}