﻿

@model FricFrac.Models.FricFrac.User


@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
    <div class="control-panel">
        <a href="/Home/Index" class="tile">
            <i class="fas fa-bars"></i>
            <span class="screen-reader-text">Home</span>
        </a>
        <h1>Fric-frac</h1>
    </div>



<form class="show-room entity" action="/User/Index" method="post">
    <div class="detail">
        <div class="command-panel">
            <h2 class="banner">User</h2>
            <a href="/User/UpdatingOne/@Model.Id" class="tile">
                <i class="fas fa-wrench"></i>
                <i class="screen-reader-text">Updating One</i>
            </a>
            <a href="/User/InsertingOne" class="tile">
                <i class="fas fa-plus-circle"></i>
                <i class="screen-reader-text">Inserting One</i>
            </a>
            <a href="/User/DeleteOne/@Model.Id" class="tile">
                <i class="fas fa-trash-alt"></i>
                <i class="screen-reader-text">Delete One</i>
            </a>
            <a href="/User/Cancel" class="tile">
                <i class="fas fa-backspace"></i>
                <span class="screen-reader-text">Annuleren</span>
            </a>
        </div>
        <fieldset>
            <div>
                <label for="User-Id">Id:</label>
                <span>@Model.Id</span>
            </div>
            <div>
                <label for="User-Name">Naam:</label>
                <span>@Model.Name</span>
            </div>
            <div>
                <label for="User-Salt">Salt:</label>
                <span>@Model.Salt</span>
            </div>
            <div>
                <label for="User-HashedPassword">Password:</label>
                <span>@Model.HashedPassword</span>
            </div>
            <div>
                <label for="User-Person.Id"> Person Id:</label>
                <span>@Model.PersonId</span>
            </div>
            <div>
                <label for="User-Role.Id">Role Id:</label>
                <span>@Model.RoleId</span>
            </div>
           
        </fieldset>
        <div class="feedback"></div>
    </div>
    <aside class="list">
        <table></table>
    </aside>
</form>