﻿@model FricFrac.Models.FricFrac.User
@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
    <nav class="control-panel">
        <a href="/Home/Index" class="tile">
            <i class="fas fa-bars"></i>
            <span class="screen-reader-text">Home</span>
        </a>
        <h1>Fric-frac</h1>
    </nav>
<form class="show-room entity" action="/User/UpdateOne" method="post">
    <div class="detail">
        <div class="command-panel">
            <h2 class="banner">User</h2>
            <button type="submit" class="tile">
                <h3>Update One</h3>
            </button>

            <a href="/User/Cancel" class="tile">
                <i class="fas fa-backspace"></i>
                <i class="screen-reader-text">Annuleren</i>
            </a>
        </div>
        <fieldset>
            <input type="hidden" id="User-Id" name="User-Id" value="@Model.Id" />

            <div>
                <label for="User-Name">Name :</label>
                <input id="User-Name" name="User-Name" type="text" value="@Model.Name" required />
            </div>
            <div>
                <label for="User-Salt">Salt:</label>
                <input id="User-Salt" name="User-Salt" type="text" value="@Model.Salt" />
            </div>
            <div>
                <label for="User-HashedPassword">Password:</label>
                <input id="User-HashedPassword" name="User-HashedPassword" type="password" value="" required />
            </div>

            <div>
                <label for="User-Person.Id"> Person Id:</label>
                <select id="User-PersonId" name="User-PersonId">
                    @foreach (var item in ViewBag.Persons)
                    {
                        <option value="@item.Id">@item.FirstName</option>
                    }
                </select>
            </div>
            <div>
                <label for="User-Role.Id">Role Id:</label>
                <select id="User-RoleId" name="User-RoleId">
                    @foreach (var item in ViewBag.Roles)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
        </fieldset>
        <div class="feedback"></div>
    </div>
    <aside class="list">
        <table></table>
    </aside>
</form>