﻿
@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}




<nav class="control-panel">
    <a href="/Home/Index" class="tile">
        <i class="fas fa-bars"></i>
        <span class="screen-reader-text">Home</span>
    </a>

    <h1 class="banner">Fric-frac</h1>
</nav>


<form class="show-room entity" action="/EventTopic/InsertOne" method="post">
    <div class="detail">
        <div class="command-panel">
            <h2 class="banner">EventTopic </h2>
            <button type="submit" value="/EventTopic/InsertOne" class="tile">
                <i class="fas fa-user-plus"></i>
                <i class="screen-reader-text">Insert One</i>
            </button>

            <a href="/EventTopic/Index" class="tile">
                <i class="fas fa-backspace"></i>
                <i class="screen-reader-text">Anuuleren</i>
            </a>
        </div>
        <fieldset>
            <div>
                <label for="EventTopic-Id">Id</label>
                <input id="EventTopic-Id" name="EventTopic-Id" type="text" value="" required />
            </div>
            <div>
                <label for="EventTopic-Name">Naam</label>
                <input id="EventTopic-Name" name="EventTopic-Name" type="text" value="" required />
            </div>


        </fieldset>



        <div class="feedback">

        </div>

    </div>

    <aside class="list">
        <table></table>
    </aside>
</form>
