﻿@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}



<nav class="control-panel">

    <a href="/Home/Index" class="tile">
        <i class="fas fa-bars"></i>
        <i class="screen-reader-text">Home</i>
    </a>
    <h1 class="banner">Fric-frac</h1>
</nav>

<section class="show-room index">
    <a class="tile" href="/Person/Index">
        <i class="fas fa-user-friends"></i>
        <i class="screen-reader-text">Index Personen</i>
        <h1>Index Personen</h1>
    </a>
    <a class="tile" href="/Country/Index">
        <i class="fas fa-globe-asia"></i>
        <i class="screen-reader-text">Index Landen</i>
        <h1>Index Landen</h1>
    </a>
    <div class="tile">Informatieve tegel</div>
    <div class="tile">Informatieve tegel</div>
    <a class="tile" href="/Role/Index">
        <i class="fas fa-pencil-ruler"></i>
        <i class="screen-reader-text">Index Rollen</i>
        <h1>Index Rollen</h1>
    </a>
    <a class="tile" href="/User/Index">
        <i class="fas fa-users"></i>
        <i class="screen-reader-text">Index Gebruikers</i>
        <h1> Gebruikers</h1>
    </a>
    <div class="tile">Informatieve tegel</div>

    <a class="tile" href="/Event/Index">
        <i class="fas fa-calendar-alt"></i>
        <i class="screen-reader-text">Index Events</i>
        <h1>Events</h1>
    </a>

    <a class="tile" href="/EventCategory/Index">
        <i class="fas fa-certificate"></i>
        <i class="screen-reader-text">Index EventCategorieën</i>
        <h1>EventCategorieën</h1>
    </a>

    <a class="tile" href="/EventTopic/Index">

        <i class="fas fa-book-reader"></i> 
        <i class="screen-reader-text">Index EventTopics</i>
        <h1>EventTopics</h1>
    </a>


    <div class="tile">Informatieve tegel</div>


</section>


