﻿
@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}




    <nav class="control-panel">
        <a href="/Home/Index" class="tile">
            <i class="fas fa-bars"></i>
            <span class="screen-reader-text">Home</span>
        </a>
        <h1 class="banner">Fric-frac</h1>
    </nav>


<form class="show-room entity" action="/Country/InsertOne" method="post">
    <div class="detail">
        <div class="command-panel">
            <h2 class="banner">Land toevoegen</h2>
            <button type="submit" value="/Country/InsertOne" class="tile">
                <i class="fas fa-user-plus"></i>
                <i class="screen-reader-text">Insert One</i>
            </button>

            <a href="/Country/Index" class="tile">
                <i class="fas fa-backspace"></i>
                <i class="screen-reader-text">Anuuleren</i>
            </a>
        </div>
        <fieldset>
            <div>
                <label for="Country-Id">Id</label>
                <input id="Country-Id" name="Country-Id" type="text" value="" required />
            </div>
            <div>
                <label for="Country-Name">Naam</label>
                <input id="Country-Name" name="Country-Name" type="text" value="" required />
            </div>
            <div>
                <label for="Country-Code">Code</label>
                <input id="Country-Code" name="Country-Code" type="text" value="" required />
            </div>
            <div>
                <label for="Country-Desc">Desc</label>
                <textarea id="Country-Desc" name="Country-Desc"></textarea>
            </div>


        </fieldset>



        <div class="feedback">

        </div>

    </div>

    <aside class="list">
        <table></table>
    </aside>
</form>