﻿
@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

    <nav class="control-panel">
        <a href="/Home/Index" class="tile">
            <i class="fas fa-bars"></i>
            <span class="screen-reader-text">Home</span>
        </a>

        <h1 class="banner">Fric-frac</h1>
    </nav>

    <form class="show-room entity" action="/EventCategory/InsertOne" method="post">
        <div class="detail">
            <div class="command-panel">
                <h2 class="banner">EventCategory </h2>
                <button type="submit" value="/EventCategory/InsertOne" class="tile">
                    <i class="fas fa-user-plus"></i>
                    <i class="screen-reader-text">Insert One</i>
                </button>

                <a href="/EventCategory/Index" class="tile">
                    <i class="fas fa-backspace"></i>
                    <i class="screen-reader-text">Anuuleren</i>
                </a>
            </div>
            <fieldset>
                <div>
                    <label for="EventCategory-Id">Id</label>
                    <input id="EventCategory-Id" name="EventCategory-Id" type="text" value="" required />
                </div>
                <div>
                    <label for="EventCategory-Name">Naam</label>
                    <input id="EventCategory-Name" name="EventCategory-Name" type="text" value="" required />
                </div>


            </fieldset>



            <div class="feedback">

            </div>

        </div>

        <aside class="list">
            <table></table>
        </aside>
    </form>
