﻿@model FricFrac.Models.FricFrac.EventCategory
@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
    <nav class="control-panel">
        <a href="/Home/Index" class="tile">
            <i class="fas fa-bars"></i>
            <span class="screen-reader-text">Home</span>
        </a>
        <h1 class="banner">Fric-frac</h1>

    </nav>


<form class="show-room entity" action="/EventCategory/UpdateOne" method="post">
    <div class="detail">
        <div class="command-panel">
            <h2 class="banner">EventCategory</h2>

            <button type="submit" class="tile">
                <h3>Update One</h3>
            </button>

            <a href="/EventCategory/Cancel" class="tile">
                <i class="fas fa-backspace"></i>
                <i class="screen-reader-text">Annuleren</i>
            </a>
        </div>

        <fieldset>
            <input type="hidden" id="EventCategory-Id" name="EventCategory-Id" value="@Model.Id" />
            <div>
                <label for="EventCategory-Name">Naam</label>
                <input id="EventCategory-Name" name="EventCategory-Name" type="text" value="@Model.Name" required />
            </div>



        </fieldset>

        <div class="feedback"></div>
    </div>
    <aside class="list">
        <table></table>
    </aside>
</form>