@font-face { 

  font-family: 'fric-frac';
  src:  url('fonts/fric-frac.eot?j3d7so');
  src:  url('fonts/fric-frac.eot?j3d7so#iefix') format('embedded-opentype'),
    url('fonts/fric-frac.ttf?j3d7so') format('truetype'),
    url('fonts/fric-frac.woff?j3d7so') format('woff'),
    url('fonts/fric-frac.svg?j3d7so#fric-frac') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fric-frac' !important;
  /*speak: none*/
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\e600";
}
.icon-floppy-disk:before {
  content: "\e601";
}
.icon-bin:before {
  content: "\e602";
}
.icon-menu:before {
  content: "\e603";
}
.icon-plus:before {
  content: "\e604";
}
.icon-cross:before {
  content: "\e605";
}
.icon-arrow-right:before {
  content: "\e606";
}
.icon-price-tag:before {
  content: "\e607";
}
.icon-user:before {
  content: "\e608";
}
.icon-users:before {
  content: "\e609";
}
.icon-user-check:before {
  content: "\e60a";
}
.icon-power:before {
  content: "\e60b";
}
.icon-earth:before {
  content: "\e60c";
}
.icon-bookmark:before {
  content: "\e60d";
}
