﻿
@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}




    <nav class="control-panel">
        <a href="/Home/Index" class="tile">
            <i class="fas fa-bars"></i>
            <span class="screen-reader-text">Home</span>
        </a>



        <h1 class="banner">Fric-frac</h1>
    </nav>


<form class="show-room entity" action="/Role/InsertOne" method="post">
     <div class="detail">
        <div class="command-panel">
            <h2 class="banner">Event Topic</h2>
            <button type="submit" value="/Role/InsertOne" class="tile">
                <i class="fas fa-user-plus"></i>
                <i class="screen-reader-text">Insert One</i>
            </button>

            <a href="/Role/Index" class="tile">
                <i class="fas fa-backspace"></i>
                <i class="screen-reader-text">Anuuleren</i>
            </a>
        </div>
        <fieldset>
            <div>
                <label for="Role-Id">Id</label>
                <input id="Role-Id" name="Role-Id" type="text" value="" required />
            </div>
            <div>
                <label for="Role-Name">Naam</label>
                <input id="Role-Name" name="Role-Name" type="text" value="" required />
            </div>


         





        </fieldset>



        <div class="feedback">

        </div>

        <aside class="list">
            <table></table>
        </aside>
    </div>

    <aside class="list">


        <table></table>
    </aside>
</form>