﻿@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

@model FricFrac.Models.FricFrac.Role


    <nav class="control-panel">
        <a href="/Home/Index" class="tile">
            <i class="fas fa-bars"></i>
            <span class="screen-reader-text">Home</span>
        </a>
        <h1 class="banner">Fric-frac</h1>
    </nav>

<form class="show-room entity" action="/Role/Index" method="post">
    <div class="detail">
        <div class="command-panel">
            <h2 class="banner">Event Topic</h2>
            <a href="/Role/UpdatingOne/@Model.Id" class="tile">
                <i class="fas fa-wrench"></i>
                <i class="screen-reader-text">Updating One</i>
            </a>
            <a href="/Role/InsertingOne" class="tile">
                <i class="fas fa-plus-circle"></i>
                <i class="screen-reader-text">Inserting One</i>
            </a>
            <a href="/Role/DeleteOne/@Model.Id" class="tile">
                <i class="fas fa-trash-alt"></i>
                <i class="screen-reader-text">Delete One</i>
            </a>
            <a href="/Role/Cancel" class="tile">
                <i class="fas fa-backspace"></i>
                <span class="screen-reader-text">Annuleren</span>
            </a>
        </div>


        <fieldset>

            <div>
                <label for="EventCategory-Name">Naam: </label>
                <span> @Model.Name</span>
            </div>
            <div>
                <label for="EventCategory-Id"> ID: </label>
                <span> @Model.Id </span>
            </div>


            <a href="/Role/DeleteOne/@Model.Id" class="tile">
                <span class="icon-close"></span>
                <span class="screen-reader-text">Delete</span>
            </a>
        </fieldset>



        <div class="feedback"></div>

    </div>
    <aside class="list">
        <table></table>
    </aside>
</form>