﻿@model FricFrac.Models.FricFrac.Role
@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<nav class="control-panel">
    <a href="/Home/Index" class="tile">
        <i class="fas fa-bars"></i>
        <span class="screen-reader-text">Home</span>
    </a>
    <h1 class="banner">Fric-frac</h1>

</nav>


<form class="show-room entity" action="/Role/UpdateOne" method="post">
    <div class="detail">
        <div class="command-panel">
            <h2 class="banner">Role</h2>

            <button type="submit" class="tile">
                <h3>Update One</h3>
            </button>

            <a href="/Role/Cancel" class="tile">
                <i class="fas fa-backspace"></i>
                <i class="screen-reader-text">Annuleren</i>
            </a>
        </div>
        <fieldset>

            <input type="hidden" id="Role-Id" name="Role-Id" value="@Model.Id" />
            <div>
                <label for="Role-Name">Naam</label>
                <input id="Role-Name" name="Role-Name" type="text" value="@Model.Name" required />
            </div>
        </fieldset>


        <div class="feedback"></div>
    </div>
    <aside class="list">
        <table></table>
    </aside>
</form>